extends layout

block content

    h1 Camera View
    
    span.ccTitle Compute Contours
    span.thTitle Threshold
    span.brTitle Blur Radius
    span.stTitle Show Threshold
    span.sfTitle Show FPS
    
    br.floatClear
    
    label.switch
      input.showContours(type = 'checkbox')
      span.slider.round
    
    input.threshold(type='range', min='0', max='255', name='threshHold', defaultValue='50')
    
    input.blurRadius(type='range', min='1', max='35', name='blurRadius', defaultValue='17')
    
    label.switch.showThresholdSlider
      input.showThreshold(type='checkbox')
      span.slider.round
    
    label.switch.showFPSSlider
      input.showFPS(type='checkbox')
      span.slider.round
      
    br
    
    p
      span.status_prompt Status: 
      span#status
  
    video.v
    canvas.c

    br

    button.play
    button.pause
      
    script(src = 'javascripts/nft/main.js')
    script window.onload = function(){setup();}
    script window.onbeforeunload = function(){cleanup();}
    
      
