doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    
    script.
      window.Module = {
            loaded: false,
            print: console.log,
            printErr: function(text) {
                document.getElementById('status').innerHTML = text;
            },
            setStatus: function(text) {
                document.getElementById('status').innerHTML = text;
            },
            onRuntimeInitialized: function() {
                document.getElementById('status').innerHTML = 'Loaded';
                this.loaded = true;
            }
        };
        

  script(async, src="/javascripts/lib/cv.js")

  body
    block content
