body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

video {
    position: absolute;
    visibility: hidden;
}

button{
    margin-right: 1em;
    margin-bottom: 2em;
    min-width: 5em;
    height: 5em;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

canvas{
    width: auto;
    height: auto;
    margin-bottom: 1em;
    border-style: outset;
    border-width: 5px;
    border-color: black;
    border-radius: 4px;
    border-image-outset: 2px;
}

.threshold{
  margin-left: 3em;
}

.blurRadius{
  margin-left: 2em;
}

.showThresholdSlider{
  margin-left: 2.8em;
}

.showFPSSlider{
  margin-left: 4.5em;
}

.ccTitle{
  float: left;
}

.thTitle{
  margin-left: 3em;
  float: left;
}

.brTitle{
  margin-left: 7em;
  float: left;
}

.stTitle{
  margin-left: 3em;
  float: left;
}

.sfTitle{
  margin-left: 3em;
  float: left;
  display: block;
}

.floatClear{
  clear: both;
}

.play{
    background-image: url("/images/play.png");
}

.pause{
    background-image: url("/images/pause.png");
}

.status_prompt{
    font-style: italic;
    font-weight: bold;
    font-size: 12pt;
}
